ansible/*.retry
ansible/*.txt
ansible/*.log
ansible/id_rsa*
ansible/vault_pass
ansible/*.retry
ansible/*.txt
ansible/*.log
ansible/id_rsa*
terraform/**/terraform.tfvars
terraform/**/terraform.tfstate
terraform/**/terraform.tfstate.backup
terraform/**/terraform.tfplan
terraform/**/.terraform/**
terraform/**/crash.log
terraform/**/*.tfplan
terraform/debuglog.txt
terraform/**/terraform_plugins/**
terraform/**/.vscode/**
terraform/**/*.bak
terraform/**/*.txt
terraform/*.bak
terraform/**/secrets.tf
terraform/**/secrets.tfvars
terraform/**/mykey