{
	"blueprint": "{{clustername}}",
	"config_recommendation_strategy": "NEVER_APPLY",
	"provision_action": "INSTALL_AND_START",
	"configurations": [],
	"host_groups": [{
		"name": "host_group_0",
		"hosts": [{
			"fqdn": "{{hostvars[groups['master'][0]].inventory_hostname}}"
		}]
	}, {
		"name": "host_group_1",
		"hosts": [{
			"fqdn": "{{hostvars[groups['kafka'][0]].inventory_hostname}}"
		}]
	}, {
		"name": "host_group_2",
		"hosts": [{
			"fqdn": "{{hostvars[groups['spark'][0]].inventory_hostname}}"
		}]
	}],
	"Clusters": {
		"cluster_name": "{{clustername}}"
	}
}
