{
  "Repositories" : {
    "repo_name": "HDP",
    "base_url" : "http://{{hostvars[groups['yum'][0]].inventory_hostname}}/repo/HDP/centos7/{{hadoop_version}}",
    "verify_base_url" : true
  }
}
